.header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 55px;
  margin-right: 10px;
}
